/* Reset básico */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-weight: normal;
}
/* Reset básico */

:root{
  
    --bg-dark : #383838; /* Cor padrão de fundo */
    --bg-dark-med : #45494d; /* Cor base de sombreamento */
    --primary:#424632; /* Cor primária */
    --primary-inv:#76786c; /* Cor primária hover */
    --primary-bg:#30370d; /* Cor primária hover */
    --text-main:#fff; /*Cor para os textos principais ou gerais */
    --text-title:#fefdfd; /*Cor para títulos */

    --titulo-main: 4rem; /* Base de tamanho para títulos principais */
    --sub-titulo: 3rem; /* Base de tamanho para sub-títulos principais */
}


html{
    font-size: 62.5%; /* 10px */
}

body{
    font-size: 2rem;
    width: 100vw;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

a{
    font-size: 25px;
}

.logo{
    width: 130px;
    height: 100px;
}

.card {
  width: 300px;                 /* largura do quadradinho */
  background: white; /* fundo translúcido */
  border-radius: 10px;          /* cantos arredondados */
  padding: 15px;                /* espaço interno */
  margin: 20px auto;            /* centraliza e dá espaço entre os cards */
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);   /* sombra */
  text-align: center;           /* centraliza conteúdo dentro do card */
}

.card p {
  margin-top: 10px;
  font-size: 1.7rem;
  color: #000;
}

.card_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);    /* sempre 2 colunas */
  gap: 20px;                                /* espaço entre os cards */
  justify-items: center;                    /* centraliza os cards em cada coluna */
}

.card img {
  width: 100%;
  height: 200px;       /* altura fixa para todas */
  object-fit: cover;   /* corta o excesso sem distorcer */
  border-radius: 10px;
}

.card h3 {
  margin-top: 10px;
  font-size: 2.0rem;
  color: #333;text-align: center;
  font-size: 2rem;
  margin-top: 5px;
}