.cabecalho{
    background-color: var(--bg-dark);
    color: var(--text-main);
    width: 100%;
    height: auto;
    padding: 2rem;
}

.cabecalho__navbar {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;     /* Centraliza verticalmente */
  flex-wrap: wrap;         /* Permite quebra de linha se necessário */
}

.cabecalho__lista {
  display: flex;
  justify-content: center; /* Centraliza os itens da lista */
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.cabecalho__item{
    display: inline-block;
    margin-left: 2rem;
    width: 200px;
    background-color: rgb(76, 0, 255);
    color: white;
    padding: 20px;
    margin: 30px;
    text-align: center;
    font-size: 20px;
}