.fundo{
    width: 100vw;
    min-height: 100%;
    background-color: var(--bg-dark-med);
    color: var(--text-main);
}

.fundo__container{
    width: 100%;
    height: 100%;
    padding: 1%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;

    /* OVERLAY */
    background-image: linear-gradient(rgba(98, 98, 98, 0.261)) , url("../img/fundo_pgi.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fundo__title{
    text-align: center;
    font-size: var(--titulo-main);
    color: var(--text-title);
    text-transform: uppercase;
}

.fundo__text{
    text-align: justify;
    font-size: 2.5rem;
    line-height: 1.5;
    color :  rgb(255, 255, 255);
}

.fundo__btn{
    color:  rgb(0, 221, 255);
}

footer{
    width: 100%;
    height: 80px;
    background-color: var(--bg-dark);
    color: var(--text-main);
    display: flex;
    justify-content: center;
    align-items: center;
}