header{
    background-color: #1a1a1c;
    padding: 1%;
    color: #fff;
    width: 98%;
    height: 120px;
    margin: 0 auto;
}

header h1{
    font-size: 40px;
    text-align: center;
    margin: 0;
}

header nav ul{
    list-style: none;
    background-color: #2c2c45;
    padding: 0;
}

header nav ul li{
    display: inline-block;
    margin: 0 10px;
}

header nav ul li a{
    color: #fff;
    text-decoration: none;
}

body{ background-image: url(img/fiap.png);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: contain;
}



h1{
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    font-family: 'Montserrat', sans-serif;
}

h2{
background-color: black;
color: white;
font-size: 40px;
font-weight: normal;
font-style: oblique;
}

p{
    font-size: 25px;
    font-weight: normal;
    font-style: oblique;
    font-variant: small-caps;
    text-align: justify;
    text-transform: capitalize;
    text-decoration: underline;
    text-shadow: 1px 1px 1px yellow;
    line-height: 20px;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-indent: 30px;
}